@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #eaeaea;
    font-family: "Lato", sans-serif;
 }

p{
    font-family: "Lato", sans-serif;
    color:#4f6d7a;
    font-size: 13px;
}

a {
   font-family: "Lato", sans-serif;
    color: #d9534f;
}

h1{
    font-family: "Lato", sans-serif, bold;
    color:#4f6d7a;
}

h3{
    font-family: "Lato", sans-serif;
    font-size: 25px;
    color: #dd6e42;
}

h4{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #dd6e42;
}

.breakspace {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: -70px; /* change this to whatever height you want it */
}

.breakspaceForNotif {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: -15px; /* change this to whatever height you want it */
}

.con-main{
    width: 390px;
    height: 450px;
    border-radius: 5%;
    text-align: center;
    background-color: white;
}

.form-signin {
    max-width: 1090px;
    margin: 0 auto;
    color: #4f6d7a;
 }
 
 .form-signin .form-signin-heading,
 .form-signin .checkbox {
    margin-bottom: 10px;
 }
 
 .form-signin .checkbox {
    font-weight: normal;
 }
 
 .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 7px;
    font-size: 12px;
 }
 
 .form-signin .form-control:focus {
    z-index: 2;
 }
 
 .form-signin input[type="text"] {
    margin-bottom: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color:#4f6d7a;
 }
 
 .form-signin input[type="password"] {
    margin-bottom: 70px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color:#4f6d7a;
 }

/*button options*/
input[type="submit"] { /*upload button */
    border: 0px;
    color: white;
    background: #dc3545;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #555;
}
 