@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

html * {
    font-size: 16px;
    line-height: 1.625;
    font-family: Lato, sans-serif;
}

td,th {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.btn{
    background-color: #dc3545;
    color: white;
    text-align: center;
    display:inline-block;
    font-weight:400;
    vertical-align:middle;
    cursor:pointer;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
    border-radius:.25rem;
}

.topnav {
    background-color: #4f6d7a;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: none;
    background-color:darkgray;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #dd6e42;
    color: white;
}

/* Style the tab */
.tab {
    float: left;
    background-color: white;
    width: 20%;
    border-radius: 7px;
    margin-left: 100px;
    margin-top: 50px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 7px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: darkgray;
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #dd6e42;
}

/* Style the tab content */
.tabcontent {
    height: fit-content;
    background-color: white;
    border-radius: 7px;
    padding:40px 50px;
    margin:50px 24%;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    text-align: center;
    margin: 40px auto;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    width: 83%;
    max-height: 110%;
    position: relative;
}

.popup h2 {
    margin: 20px;
    padding: 10px;
    color: #4f6d7a;
    font-size: 28px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #dd6e42;
}

.popup .content {
    text-align: center;
    margin: 10px;
    padding: 10px;
    overflow: auto;
    max-height: 60%;
}