@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body{
  font-family: "Lato", sans-serif;
}


div.upload-wrapper {
    color: white;
    font-weight: bold;
    display: flex;
  }
   
  input[type="file"] {
    position: absolute;
    left: -9999px;
  }
   
  input[type="submit"] {
    border: 3px solid #555;
    color: white;
    background: #666;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
  }
   
  input[type="submit"]:hover {
    background: #555;
  }
   
  label[for="file-upload"] {
    padding: 0.7rem;
    display: inline-block;
    background: #4f6d7a;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    border-left: 0;
  }

  label[for="file-upload"]:hover {
    background: #d9534f;
  }
   
  span.file-name {
    padding: 0.7rem 3rem 0.7rem 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    background: #ffb543;
    color: black;
    border-radius: 5px 0 0 5px;
    border-right: 0;
  }