@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    background-color: #4f6d7a;
}

.topnav {
    background-color: #4f6d7a;
    overflow: hidden;
    top: -100px;
    position: absolute;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
}

.topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
}

/* Change the color of links on hover */
.topnav a:hover {
    text-decoration: none;
    background-color: darkgray;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #dd6e42;
    color: white;
}


/*
div.upload-wrapper {
    color: white;
    font-weight: bold;
    display: flex;
  }
  */
.upload-con{
    align-items: center;
    justify-content: center;
}

  .main-con{
    text-align: center;
    padding: 1px;
    background-color: #4f6d7a;
  }

  .registerTeacherCon{
      width: 400px;
      height: 450px;
      border-radius: 5%;
      text-align: center;
      padding: 7px;
      background-color: #4f6d7a;
  }

  .fieldSettings{
      width: 150px;
      height: 30px;
      font-size: 20px;
      text-align: center;
      margin: 0px auto;
      display: block;
  }

  .dropdown-con{
      text-align: center;
      margin: 0px auto;
      display: block;
  }

    select{
        font-size: 20px;
    }

  p{
      color: #e8dab2;
  }
  .read-file-con{
    width: 390px;
    height: 900px;
    border-radius: 5%;
    text-align: center;
    padding: 7px;
    background-color: #4f6d7a;
  }

 h1{
    color:#e8dab2;
    font-family: "Lato", sans-serif;
    font-size: 30px;
  }

 table, th, td{
     border: 1px solid black;
     border-collapse: collapse;
     padding: 10px;
     border-color: #e8dab2;
     align-content: center;
     margin: 0px auto;
 }

  .instructions{
    color: #e8dab2;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
  }

  .config-titles{
      color: #dd6e42;
      font-family: "Lato", sans-serif;
      font-weight: 800;
      text-align: center;
  }

div.upload-wrapper {
    color: white;
    font-weight: bold;
    display: flex;
}

  input[type="file"] {
    position: absolute;
    left: -9999px;
  }

  /*browse button*/
  input[type="submit"] { /*upload button */
    border: 0px;
    color: #e8dab2;
    background: #dd6e42;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    cursor: pointer;
  }

  /*browse button*/
  input[type="submit"]:hover {
    background: #555;
  }
   
  label[for="file-upload"] {
    padding: 0.7rem;
    display: inline-block;
    background: #dd6e42;
    cursor: pointer;
    color: #e8dab2;
    font-family: "Lato", sans-serif, bold;
    font-weight: 400;
    border-radius: 5px 5px 5px 5px;
    border-left: 0;
  }

  label[for="file-upload"]:hover {
    background: #555;
  }

  span.file-name {
    padding: 0.7rem 3rem 0.7rem 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    background: #e8dab2;
    justify-content: center;
    font-family: "Lato", sans-serif, bold;
    font-weight: 400;
    color: #dd6e42;
    border-radius: 5px 0 0 5px;
    border-right: 0;
  }