@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    background-color: #eaeaea;
}

.database-export-drop-con{
    width: 400px;
    height: 560px;
    border-radius: 5%;
    text-align: center;
    padding: 7px;
    background-color: white;
}

.breakspaceForNotif {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0px; /* change this to whatever height you want it */
    margin-bottom: -10px; /* change this to whatever height you want it */
}


/*text options*/
h1{
    color:#4f6d7a;
    font-family: "Lato", sans-serif;
    font-size: 30px;
}

h3{
    font-family: "Lato", sans-serif;
    color: #dc3545;
}

p{
    color: #dd6e42;
}

.instructions{
    color: #e8dab2;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
}

/*button options*/
input[type="submit"] { /*upload button */
    border: 0px;
    color: white;
    background: #dc3545;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #555;
}