.topnav {
    background-color: #0b8f47;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-transform: capitalize;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e1af30;
    color: white;
}

.topnav a:hover {
    text-decoration: none;
    background-color: #00652c;
    color: #f2f2f2;
}