@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&display=swap');

body{
    background-color: #eaeaea;
    font-family: "Lato", sans-serif;
}

img {
   max-width: 100%;
   height: auto;
}

.logo{
    margin: auto;
    height: 150px;
    width: 150px;
}

table {
    font-size: 100%;
    width: 100%;
    border-collapse: collapse;
    font-family: "Lato", sans-serif;
}

.firstColumn{
    font-size: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.headerColumn{
    width: 20%;
    background-color: #4f6d7a;
}

h3{
    text-align: center;
    font-family: "Lato", sans-serif;
    color: #dd6e42;
}

a.link{
    color: #e8dab2;
}

a:visited {
    color: #c0d6df;
}

td{
    background-color: #4f6d7a;
    color: #e8dab2;
}

th, td{
    border: 0px; /*borderless*/
    padding: 2px;
    text-align: center;
}